@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #047857;
  --primary-light: #059669;
  --primary-dark: #064e3b;
  --accent: #FCD34D;
  --accent-hover: #fbbf24;
}

* {
  scroll-behavior: smooth;
}

@keyframes bounce {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
}

.animate-bounce-slow {
  animation: bounce 2s infinite;
}